.primary-bg {
  background-color: #ff385c;
}

.light-bg {
  background-color: #ffafbd;
}

.secondary-bg {
  background-color: #5d5d5d;
}

.white-bg {
  background-color: white;
}

.black-bg {
  background-color: black;
}

.primary-text {
  color: #0095f6;
}

.secondary-text {
  color: #5d5d5d;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.light-text {
  color: #ffafbd;
}
