.baseInput {
  align-items: start;
}

.baseInput > label {
  margin-bottom: 5px;
}

.baseInput > input {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}
